* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  background-image: url(../images/collage.png);
  background-size: cover;
  background-position: center;
  color: var(--grey-light-1);

  &__wrap-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 6rem;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    );
  }
}
