:root {
  //Colors
  --grey-light-1: #faf9f9;
  --grey-dark-1: #333;

  //Shadows
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.2);

  //lines
  --underline: 2px solid var(--grey-light-2);
}
